<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">

<head th:data-th-replace="@{import/head :: head}" >
</head>
<body>
<div data-th-replace="import/menuSuperior :: menuSuperior"></div>
<div class="col-xs-12">
    <div class="col-sm-3" data-th-replace="import/menuLateral :: menuLateral"></div>
    <div class="offset3">
        <h1 class="text-center">Cadastro de Pessoa</h1>
        <form th:action="@{/pessoa/cadastro}" method="post">
            <div class="form-group">
                <label>Nome</label>
                <input type="text" class="form-control" name="nome" placeholder="Nome">
            </div>
            <div class="form-group">
                <label>Sobrenome</label>
                <input type="text" class="form-control" name="sobrenome" placeholder="Sobrenome">
            </div>
            <div class="form-group">
                <label>Cpf</label>
                <input type="text" class="form-control" name="cpf" placeholder="Cpf">
            </div>
            <div class="form-group">
                <label>Email</label>
                <input type="email" class="form-control" name="email" placeholder="Email">
            </div>
            <div class="form-group">
                <label>Telefone</label>
                <input type="text" class="form-control" name="telefone" placeholder="Telefone">
            </div>
            <button type="submit" class="btn btn-success">Salvar</button>
            <a th:href="@{/}" class="btn btn-default">Cancelar</a>
        </form>
    </div>
<div th:data-th-replace="@{import/scripts :: script}" ></div>
</body>
</html>