<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">

<head th:data-th-replace="@{import/head :: head}">
</head>
<body>
<div data-th-replace="import/menuSuperior :: menuSuperior"></div>
<div class="col-xs-12">
    <div class="col-sm-3" data-th-replace="import/menuLateral :: menuLateral"></div>
    <div class="offset4">
        <h2>Lista de pessoas</h2>
        <div class="well well-large">
            <form th:action="@{pesquisaNome}" class="form-search">
                <div class="input-append">
                    <input type="text" class="span2 search-query form-control" name="pesquisaNome" placeholder="Pesquisar">
                    <button type="submit" class="btn"><i class="fas fa-search"></i></button>
                </div>
            </form>
        </div>
        <table class="table table-striped table-hover">
            <thead>
            <tr>
                <th scope="col">Codigo</th>
                <th scope="col">Nome</th>
                <th scope="col">Sobrenome</th>
                <th scope="col">CPF</th>
                <th scope="col">E-mail</th>
                <th scope="col">Telefone</th>
                <th scope="col">Opções</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="pessoa : ${lista}">
                <td th:text="${pessoa.id}"></td>
                <td th:text="${pessoa.nome}"></td>
                <td th:text="${pessoa.sobrenome}"></td>
                <td th:text="${pessoa.cpf}"></td>
                <td th:text="${pessoa.email}"></td>
                <td th:text="${pessoa.telefone}"></td>
                <td>
                    <a class="btn btn-outline-primary" th:href="@{cadastro/{codigo}(codigo=${pessoa.id})}"><i class="fa fa-pen"></i></a>
                    <a class="btn btn-outline-danger modal-excluir" data-toggle="modal" data-target="#modal-excluir" id="deleteButton" th:href="@{excluir/{id}(id=${pessoa.id})}"><i class="fa fa-trash"></i></a>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <div th:data-th-replace="@{import/modalExcluir :: modal-excluir}"></div>
</div>
    <div th:data-th-replace="@{import/scripts :: script}" ></div>
    <script th:src="@{/scripts/js/excluirPessoa.js}"></script>
</body>
</html>