<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head th:data-th-replace="@{import/head :: head}" >
</head>

<body>
<div data-th-replace="import/menuSuperior :: menuSuperior"></div>
<div class="">
    <div class="span4" data-th-replace="import/menuLateral :: menuLateral"></div>
    <div class="span8">
        <form th:action="@{/devolucao/cadastro}" method="post" id="form" th:object="${devolucao}" class="span8">
            <h2 class="span8">Devolução de livros</h2>
            <div class="form-group span8">
                <div>
                    <label>Cliente:</label>
                    <input type="hidden" id="user" value="" name="pessoa" required th:object="${cliente}">
                    <input type="text" class="form-control span4" id="cliente" placeholder="Nome do cliente" autocomplete="off" required>
                </div>
<!--                <label class="label label-important" th:if="${#fields.hasErrors('pessoa')}" th:errors="*{pessoa}">Erro</label>-->
            </div>
            <div class="form-group span8">
                <div>
                    <label>Livro:</label>
                    <input type="hidden" id="idLivro" value="" name="livro" th:object="${exemplar}" required>
                    <input type="text" class="form-control span4" id="livro" placeholder="Nome do livro" autocomplete="off" required>
                </div>
<!--                <label class="label label-important" th:if="${#fields.hasErrors('livro')}" th:errors="*{livro}">Erro</label>-->
            </div>
            <div class="form-group span8">
                <div>
                    <label>Quantidade:</label>
                    <input type="number" name="quantidade" class="form-control span4" required placeholder="Quantidade">
                </div>
<!--                <label class="label label-important" th:if="${#fields.hasErrors('quantidade')}" th:errors="*{quantidade}">Erro</label>-->
            </div>
            <div class="form-group span8">
                <button type="submit" name="Enviar" class="btn btn-success">Salvar</button>
                <a th:href="@{/}" class="btn btn-default">Cancelar</a>
            </div>
        </form>
    </div>
</div>
<div th:data-th-replace="@{import/scripts :: script}" ></div>
<script src="https://code.jquery.com/jquery-1.12.4.js"></script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
<!--<script>-->
<!--$("#cliente").autocomplete({-->
<!--    source: 'http://localhost:8080/pessoa/clientes'-->
<!--});-->
<!--</script>-->

<script>
$("#cliente").autocomplete({
    source: 'http://localhost:8080/pessoa/clientes',
    messages: {
        noResults: '',
        results: function() {}
    },
    minLength: 1,
    select: function(event, ui) {
        $("#user").val(ui.item.id);
    }
});
</script>
<script>
$("#livro").autocomplete({
    source: 'http://localhost:8080/livro/exemplares',
    messages: {
        noResults: '',
        results: function() {}
    },
    minLength: 1,
    select: function(event, ui) {
        $("#idLivro").val(ui.item.id);
    }
});
</script>



</body>
</html>