<footer class="footer footer-black footer-white " data-th-fragment="rodape">
    <div class="footer" data-th-fragment="rodape">
        <div class="offset6 span2">
            <div style="text-aling:center;">
                <b style="text-aling:center;">Minha Biblioteca - 2019</b>
                <ul style="list-style-type: none;">
                    <li><a href="https://github.com/LucasBerlanda/"><i class="fab fa-github"></i> Lucas Berlanda</a></li>
                    <li><a href="https://github.com/eduardosantin"><i class="fab fa-github"></i> Eduardo Santin</a></li>
                    <li><a href="https://github.com/JosielB12"><i class="fab fa-github"></i> Josiel Bueno</a></li>
                </ul>
            </div>
        </div>
    </div>
</footer>