<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">

<head th:data-th-replace="@{import/head :: head}" >
</head>
<body>

<div class="offset3 span6 pagination-centered well cadastroUser">
    <form th:action="@{/novoUsuario/cadastro}" method="post" th:object="${usuario}" class="span5">
        <h2 class="span5">Cadastro de usuario</h2>
        <input type="hidden" name="id" th:field="*{id}">
        <div class="form-group span5">
            <div>
                <label>Nome</label>
                <input type="text" name="nome" th:field="*{nome}" class="form-control span4" placeholder="Nome">
            </div>
            <label class="label label-important" th:if="${#fields.hasErrors('nome')}" th:errors="*{nome}">Erro</label>
        </div>
        <div class="form-group span5">
            <div>
                <label>Sobrenome</label>
                <input type="text" class="form-control span4" th:field="*{sobrenome}" name="sobrenome" placeholder="Sobrenome">
            </div>
            <label class="label label-important" th:if="${#fields.hasErrors('sobrenome')}" th:errors="*{sobrenome}">Erro</label>
        </div>
        <div class="form-group span5">
            <div>
                <label>Numero de Telefone</label>
                <input type="text" class="form-control span4" th:field="*{telefone}" name="telefone" placeholder="Numero de Telefone">
            </div>
            <label class="label label-important" th:if="${#fields.hasErrors('telefone')}" th:errors="*{telefone}">Erro</label>
        </div>
        <div class="form-group span5">
            <div>
                <label>Cpf</label>
                <input type="text" class="form-control span4" th:field="*{cpf}" name="cpf" placeholder="Cpf" >
            </div>
            <label class="label label-important" th:if="${#fields.hasErrors('cpf')}" th:errors="*{cpf}">Erro</label>
        </div>
        <div class="form-group span5">
            <div>
                <label>Senha</label>
                <input type="password" class="form-control span4" th:field="*{senha}" name="senha" placeholder="Senha">
            </div>
            <label class="label label-important" th:if="${#fields.hasErrors('senha')}" th:errors="*{senha}">Erro</label>
        </div>
        <div class="form-group span5">
            <div>
                <button type="submit" class="btn btn-success">Salvar</button>
                <a th:href="@{/}" class="btn btn-default">Cancelar</a>
            </div>
        </div>
    </form>
</div>
</body>
</html>