<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">

<head th:data-th-replace="@{import/head :: head}" ></head>
<body>
<div class="offset3 span7 pagination-centered">
    <h2 class="titulo">Minha biblioteca</h2>
</div>
<div class="offset3 span7 pagination-centered login well">
    <form th:action="@{/loginUser}" method="post" class="span6">
        <div class="form-group span6">
            <h2>Login</h2>
        </div>
        <div class="form-group span6">
            <div>
                <label>Cpf</label>
                <input type="text" class="form-control span4" name="username" placeholder="Cpf">
            </div>
        </div>
        <div class="form-group span6">
            <div>
                <label>Senha</label>
                <input type="password" class="form-control span4" name="password" id="password" placeholder="Senha">
                <i class="fa fa-eye" id="text" style="display: none; margin-left: -25px; cursor: pointer;"></i>
  				<i class="fa fa-eye-slash" id="pass" style="margin-left: -25px; cursor: pointer;"></i>
            </div>
        </div>
        <div class="form-group span6">	
            <div>
                <button type="submit" class="btn btn-success">Entrar</button>
            </div>
        </div>
    </form>
    <div class="span6">
        <div class="span6">
            <button class="btn btn-light"><a th:href="@{/novoUsuario/cadastro}"><i class="fas fa-users"></i> Cadastrar Usuario</a></button>
        </div>
    </div>
</div>
<div class="span3"></div>
<script th:src="@{/scripts/js/login.js}"></script>
</body>
</html>