<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">

<head th:data-th-replace="@{import/head :: head}" >

</head>
<body>
<div data-th-replace="import/menuSuperior :: menuSuperior"></div>
<div>
    <div class="span4" data-th-replace="import/menuLateral :: menuLateral"></div>
        <div class="">
            <div class="span8">
                <h2 class="span8">Cadastro de livros</h2>
                <form th:action="@{/livro/cadastro}" method="post" th:object="${livro}" class="span8">
                    <input type="hidden" name="id" th:field="*{id}">
                    <div class="form-group span8">
                        <div>
                            <label>Título</label>
                            <input type="text" name="titulo" th:field="*{titulo}" class="form-control span4" placeholder="Título">
                        </div>
                        <label class="label label-important" th:if="${#fields.hasErrors('titulo')}" th:errors="*{titulo}">Erro</label>
                    </div>
                    <div class="form-group span8">
                        <div>
                            <label>Autor</label>
                            <input type="text" class="form-control span4" th:field="*{autores}" name="autores" placeholder="Autor">
                        </div>
                        <label class="label label-important" th:if="${#fields.hasErrors('autores')}" th:errors="*{autores}">Erro</label>
                    </div>
                    <div class="form-group span8">
                        <div>
                            <label>Genero</label>
                            <input type="text" class="form-control span4" th:field="*{genero}" name="genero" placeholder="Genero" >
                        </div>
                        <label class="label label-important" th:if="${#fields.hasErrors('genero')}" th:errors="*{genero}">Erro</label>
                    </div>
                    <div class="form-group span8">
                        <div>
                            <label>Editora</label>
                            <input type="text" class="form-control span4" th:field="*{editora}" name="editora" placeholder="Editora">
                        </div>
                        <label class="label label-important" th:if="${#fields.hasErrors('editora')}" th:errors="*{editora}">Erro</label>
                    </div>
                    <div class="form-group span8">
                        <div>
                            <label>Ano de publicação</label>
                            <input type="number" class="form-control span4" th:field="*{anoPublicacao}" name="anoPublicacao" placeholder="Ano de publicação">
                        </div>
                        <label class="label label-important" th:if="${#fields.hasErrors('anoPublicacao')}" th:errors="*{anoPublicacao}">Erro</label>
                    </div>
                    <div class="form-group span8">
                        <div>
                            <label>Quantidade</label>
                            <input type="number" class="form-control span4" th:field="*{quantidade}" name="quantidade" placeholder="Quantidade">
                        </div>
                        <label class="label label-important" th:if="${#fields.hasErrors('quantidade')}" th:errors="*{quantidade}">Erro</label>
                    </div>
                    <div class="form-group span8">
                        <button type="submit" class="btn btn-success">Salvar</button>
                        <a th:href="@{/}" class="btn btn-default">Cancelar</a>
                    </div>
                </form>
            </div>
        </div>
</div>
<div th:data-th-replace="@{import/scripts :: script}" ></div>
</body>
</html>