<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Cadastro de livros</title>
</head>
<body>
<h1>Cadastro de Livros</h1>
<div class="col-xs-12">
    <form th:action="@{/livro/cadastro}" method="post">
        <div class="form-group">
            <label>Titulo</label>
            <input type="text" class="form-control" name="titulo" placeholder="Titulo">
        </div>
        <div class="form-group">
            <label>Genero</label>
            <input type="text" class="form-control" name="genero" placeholder="Genero">
        </div>
        <div class="form-group">
            <label>Editora</label>
            <input type="text" class="form-control" name="editora" placeholder="Editora">
        </div>
        <div class="form-group">
            <label>Ano de publicação</label>
            <input type="number" class="form-control" name="anoPublicacao" placeholder="Ano de Publicação">
        </div>
        <div class="form-group">
            <label>Autores</label>
            <input type="text" class="form-control" name="autores" placeholder="Autores">
        </div>
        <button type="submit" class="btn btn-default">Submit</button>
    </form>
</div>
</body>
</html>