<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">

<head th:data-th-replace="@{import/head :: head}">
</head>
<body>
<div data-th-replace="import/menuSuperior :: menuSuperior"></div>
<div class="col-xs-12">
    <div class="col-sm-3" data-th-replace="import/menuLateral :: menuLateral"></div>
    <div class="span8 ">
        <div class="module">
            <div class="module-head">
                <div class="span4">
                    <h3 class="">Lista de Livros</h3>
                    <small><a th:href="@{/livro/lista}">Todos os Livros</a></small>
                </div>
                <div class="span2">
                    <form th:action="@{/livro/pesquisaTituloLivro}" class="form-search pull-rigth">
                        <div class="input-append">
                            <input type="text" class="span2 search-query form-control" name="titulo" placeholder="Buscar por título">
                            <button type="submit" class="btn"><i class="fas fa-search"></i></button>
                        </div>
                    </form>
                </div>
                <div class="table">
                    <table class="table table-striped table-hover">
                        <thead>
                        <tr>
                            <th class="span3">Titulo</th>
                            <th class="span2">Autor</th>
                            <th class="span2">Genero</th>
                            <th class="span2">Editora</th>
                            <th class="span1">Quantidade</th>
                            <th class="span2">Opções</th>
                        </tr>
                        </thead>

                        <tbody>
                            <tr th:each="livro : ${lista}">
                                <td th:text="${livro.titulo}"></td>
                                <td th:text="${livro.autores}"></td>
                                <td th:text="${livro.genero}"></td>
                                <td th:text="${livro.editora}"></td>
                                <td th:text="${livro.quantidade}"></td>
                                <td>
            <!--                        <a class="btn btn-outline-primary" th:href="@{/livro/editar/{id}(id=${livro.id})}"><i class="fa fa-pen"></i></a>-->
                                    <a class="btn btn-outline-danger modal-excluir" data-toggle="modal" data-target="#modal-excluir" id="deleteButton" th:href="@{excluir/{id}(id=${livro.id})}"><i class="fa fa-trash"></i></a>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <div th:data-th-replace="@{import/modalExcluirLivro :: modal-excluir}"></div>
</div>
<div th:data-th-replace="@{import/scripts :: script}" ></div>
<script th:src="@{/scripts/js/excluirLivro.js}"></script>

</body>
</html>