<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Cadastrar retirada de livros</title>
</head>
<body>
<form action="/retirada/cadastro" method="post">
    <label>Código cliente:</label>
    <select class="form-control" name="pessoa" id="pessoa">
        <option th:each="objetoPessoa : ${listPessoa}" th:value="${objetoPessoa.id}" th:text="${objetoPessoa.nome} + ' ' + ${objetoPessoa.sobrenome}" ></option>
    </select>
    <label>Exemplar:</label>
    <select class="form-control" name="livro" id="livro">
        <option th:each="objeto : ${list}" th:value="${objeto.id}" th:text=" 'Título: '+ ${objeto.titulo} " ></option>
    </select>
    <label>Quantidade:</label>
    <input type="number" name="quantidade">
    <input name="Enviar" type="submit">

</form>

</body>
</html>